<div class="product-grid" *ngIf="filteredEquipment.length > 0">
  <mat-card class="product-card" style="background-color: white" *ngFor="let item of (equipmentService.searchTerm$ | async) === '' && (equipmentService.category$ | async) === 'Alle' ? (filteredEquipment | slice:0:rowCount*4) : filteredEquipment" [routerLink]="['/detail', item.id]">
    <img mat-card-image [src]="item.link" [alt]="item.name" class="product-img">
    <mat-card-header >
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.equipmentType}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
      <p class="product-description">{{item.title}}</p>
    </mat-card-content>
    <mat-card-actions >
      <button mat-button color="primary">Details</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="no-results" *ngIf="filteredEquipment.length === 0">
  <mat-icon>search_off</mat-icon>
  <p>Keine Ergebnisse für Ihre Suche gefunden.</p>
  <button mat-button color="primary" (click)="resetFilters()">Alle anzeigen</button>
</div>
