<div id="flex">
  <div class="tableBox" style="color: white">
    <h1>Deine Entlehnungen</h1>

    <table id="rentalTable">
      <tr>
        <th>
          Name
        </th>
        <th>
          Equipment Typ
        </th>
        <th>
          Item Count
        </th>
      </tr>
      <ng-container *ngFor="let equipment of tableEquipment">
        <tr class="tableRow">
          <td>{{equipment.name}}</td>
          <td>{{equipment.equipmentType}}</td>
          <td>{{equipment.itemCount}}x</td>
        </tr>
      </ng-container>
      <tr>
        <th>
          Lease Date
        </th>
        <th>
          Return date
        </th>
        <th>
          Notiz des Lehrers
        </th>
        <th>
          Aktueller Status
        </th>
      </tr>
      <ng-container *ngFor="let rental of rentals">
        <tr class="tableRow">
          <td> {{rental.leaseDate}}</td>
          <td> {{rental.returnDate}}</td>
          <td> {{rental.note}}</td>
          <td> {{rental.state}}</td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="tableBox">
    <h1>Deine Reservierungen</h1>
    <app-room-item [rooms]="reservations"></app-room-item>
  </div>
</div>
