<mat-tab-group *ngIf="(equipmentService.searchTerm$ | async) === '' && (equipmentService.category$ | async) === 'Alle'" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Am Beliebtesten"></mat-tab>
  <mat-tab label="Kürzlich zurückgegeben"></mat-tab>
  <mat-tab label="Aktuell Verfügbar"></mat-tab>
  <mat-tab label="Erneut Entlehnen"></mat-tab>
</mat-tab-group>

<div class="welcome-section" *ngIf="(equipmentService.searchTerm$ | async) === '' && (equipmentService.category$ | async) === 'Alle'">
  <div class="welcome-text">
    <h1>Herzlich Willkommen</h1>
    <p>beim Raum- und Equipmentverleih der HTL-Leonding für Schüler:innen</p>
  </div>
  <div class="welcome-image">
    <img src="assets/images/Equipementhome.png" alt="EquipmentHome">
  </div>
</div>

<div class="search-info" *ngIf="(equipmentService.searchTerm$ | async) !== '' || (equipmentService.category$ | async) !== 'Alle'">
  <h2>Suchergebnisse</h2>
  <p *ngIf="(equipmentService.searchTerm$ | async) !== ''">Suche nach: "<strong>{{ equipmentService.searchTerm$ | async }}</strong>"</p>
  <p *ngIf="(equipmentService.category$ | async) !== 'Alle'">Kategorie: <strong>{{ equipmentService.category$ | async }}</strong></p>
</div>

<div class="content-section">
  <app-card-row [rowCount]="2"></app-card-row>
</div>
