:root{
  color-scheme: light dark;
  --light-bg: white;
  --light-color: black;
  --dark-bg: black;
  --dark-color: white;
}

body{
  text-align: center;
}
svg{
  user-select: none;
}

div{
  display: grid;
  text-align: center;
  font-family: "Passion One", sans-serif;
  position: sticky;
}