:root {
  color-scheme: dark;
}
custom-header {
  text-align: center;
  margin-top: 20vh;
  font-family: "Passion One", sans-serif;
  position: sticky;
}
@media screen and (max-width: 968px) {
  custom-main {
    grid-template-columns: repeat(2, 200px);
  }
}
@media screen and (max-width: 568px) {
  custom-header {
    margin-top: 7vh;
  }
  custom-main {
    grid-template-columns: repeat(1, 200px);
  }
}
