.app-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#navigation-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#navigation-profile-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(40, 40, 40, 1);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #ffffff;
  margin-right: 0.5rem;
  font-weight: bold;
}

#navigation-profile-div p {
  margin: 0;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  color: white;
}

#navigation-links {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0 2rem;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 2px 8px;
  flex-grow: 1;
  max-width: 600px;
  margin: 8px 0;
}

.search-container mat-form-field {
  width: auto;
}

.search-input {
  flex-grow: 1;
  margin-left: 8px;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

#mobile-dropdown {
  display: none;
}

@media (max-width: 800px) {
  #navigation-links {
    display: none;
  }
  #mobile-dropdown {
    display: block;
  }
}
