<mat-toolbar color="primary" class="app-navigation" style="background-color: rgba(40, 40, 40, 1)" >
  <div id="navigation-profile" [matMenuTriggerFor]="profileMenu">
    <div id="navigation-profile-div">
      <!--<p *ngIf="user">{{user.surname.charAt(0)}}{{user.firstname.charAt(0)}}</p>-->
    </div>
    <div class="user-info">
      <p class="user-name">{{user?.surname}} {{user?.firstname}}</p>
    </div>
  </div>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span style="color: white">Logout</span>
    </button>
  </mat-menu>

  <div id="navigation-links">
    <div class="search-container" style="background-color: rgba(40, 40, 40, 1)">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategoryChange()" style="color: white">
          <mat-option value="Alle">Alle</mat-option>
          <mat-option value="Kamera">Kamera</mat-option>
          <mat-option value="Audio">Audio</mat-option>
          <mat-option value="Zubehör">Zubehör</mat-option>
          <mat-option value="Raum">Raum</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="search-input" style="color: white">
        <mat-label style="color: white">Suche nach Equipment bzw. Räumen</mat-label>
        <input matInput [(ngModel)]="searchTerm" (input)="onSearchChange()">
        <mat-icon matSuffix style="color: white">search</mat-icon>
      </mat-form-field>
    </div>

    <div class="nav-buttons">
      <button mat-button routerLink="" style="color: white">Shop</button>
      @if (teacherService.isTeacher) {
        <button mat-button routerLink="teacher" style="color: white">Dashboard</button>
      } @else {
        <button mat-button routerLink="students" style="color: white">Dashboard</button>
      }

      <button mat-icon-button routerLink="cart" aria-label="Warenkorb" style="color: white">
        <mat-icon [matBadge]="badgeCount > 0 ? badgeCount : null" matBadgeColor="accent">shopping_cart</mat-icon>
      </button>
    </div>
  </div>

  <div id="mobile-dropdown">
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <button mat-menu-item routerLink="">Shop</button>
      <button mat-menu-item routerLink="dashboard">Dashboard</button>
      <button mat-menu-item routerLink="cart">
        <mat-icon [matBadge]="badgeCount > 0 ? badgeCount : null" matBadgeColor="accent">shopping_cart</mat-icon>
        <span>Warenkorb</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
