.amount-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 4px;
}

.amount-display {
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 20px;
  text-align: center;
}
