<mat-toolbar class="app-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="./assets/images/Logo-OmniaL-rund.png" alt="Logo">
    </div>

    <div class="footer-info">
      <h4>Bei Fragen wenden Sie sich an:</h4>
      <div class="footer-contacts">
        <div class="contact-item">
          <span class="contact-label">Audio:</span>
          <a href="mailto:e.baar@htl-leonding.ac.at">e.baar&#64;htl-leonding.ac.at</a>
        </div>
        <div class="contact-item">
          <span class="contact-label">Videoequipment:</span>
          <a href="mailto:m.riepler@htl-leonding.ac.at">m.riepler&#64;htl-leonding.ac.at</a>
        </div>
        <div class="contact-item">
          <span class="contact-label">Fotografie:</span>
          <a href="mailto:p.engleitner@htl-leonding.ac.at">p.engleitner&#64;htl-leonding.ac.at</a>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
