.item-list-entry {
  height: auto !important;
  padding: 1rem 0;
}

.item-img {
  width: 80px !important;
  height: 80px !important;
  object-fit: contain;
  border-radius: 4px;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

mat-list-item [matListItemTitle] {
  font-weight: 500;
  font-size: 1.1rem;
}
